main{
	padding-bottom:80px;
	.main-top{
		height:32px;
		.lf{
			float:left;
			height:32px;
			line-height:32px;
			margin-top:3px;
			.adress{
				display:inline-block;
				border:1px solid #ccc;
				height:28px;
				line-height:28px;
				padding:0 10px;
			}
		}
		.rt{
    		float:right;
		}
	}
	.main-center{
		padding-top:40px ;
		text-align:right;
		.list{
			.goodscart{
				width:100%;
				border-top:1px solid #BBB;
				thead{
					th{
						background:#DFDFDF;
						text-align:center;
						height:31px;
					}
				}
				tbody{
				 tr{
				 	td{
				 		text-align:left;
				 		img{
				 		width:50px;
				 		height:50px;
				 		border:1px solid #ccc;
				 		vertical-align:top
				 		}
				 	border-bottom:1px solid #DFDFDF;

				 	}
				 	.number{
				 		input{
				 			width:40px;
				 			height:16px;
				 		}
				 		span{
				 			border:1px solid #ccc;
				 			font-size:14px;
				 			padding:0 5px;
				 			margin:0 5px;
				 		}
				 	}
				 	.price{
				 		color:#d10436;;
				 	}
				 }
				}
			}
			.cartTotal{
				li{
					border-bottom:1px dotted #BBB;
					height:40px;
					line-height:40px;
					&:last-child{
						border-bottom:0px;
						padding:20px 0px;
						img{
							margin-left:10px;
						}

					}
					&:first-child{
						text-align:left;
						p{
							float:right;
							margin:0px;
						}
						label{
							margin:0 30px 0 150px;
							color:#d10436;
						}
					}

					.total{
						color:#d10436;
						font-size:16px;
					}
					.kind{
						color:#d10436;
					}
					.num{
						color:#d10436;
					}
				}
			}
			p{
				margin-top:10px;
				text-align:left;

			}
		}
	}
}