.header{
	position:relative;
	#header-center{
		position:absolute;
		top:38px;
		right:100px;
		height:80px;
		padding-top:45px;
		.con-search{
			float:left;
			.search{
				border:3px solid #fc4c65;
				border-radius:5px;
				background:#fc4c65;
				input{
					width:470px;
					height:34px;
					padding-left:4px;
					border:none;
				}
				.searchbtn{
					display:inline-block;
					color:#fff;
					height:34px;
					line-height:34px;
					padding:0 30px;
					font-size:18px;
				}
			}
			nav{
				li{
				 float:left;
				 a{
				 	margin-right:8px;
				 	line-height:24px;
				 }
				}
			}
		}
		.shopcar{
			border:1px solid #d8d8d8;
			float:left;
			height:38px;
			margin-left:24px;
			a{
				display:inline-block;
				height:38px;
				padding:0 36px 0 25px;
				line-height:38px;
				font-size:14px;
				background:url(../img/shoppingCart.png) no-repeat 3px 11px;
				i{
					margin-left:5px;
				}
			}
		}
	}
	.index-nav{
		margin-top:30px;
		height:38px;
		li{
			float:left;
			padding:0px 24px;
			margin:0 14px;
			line-height:38px;

		}
		li:first-child{
			a{
				width:221px;
				height:38px;
				display:inline-block;
				text-align: center;
				line-height:38px;
				font-size:16px;
				color:#fff;
				background:#fc4c65;
			}
			position:relative;

			ul{
				position:absolute;
				z-index:999;
				background:#fc4c65;
				width:221px;
				padding-bottom:15px;
				display:none;
				li{
					padding:0px;
					margin:0px;
					a{
						height:52px;
						display:inline-block;
						line-height:52px;
						background:url(../img/index_icon2.png) no-repeat 22px 1px;
						
					}
					&:first-child{
						background:#cc4155;
					}
					&:nth-child(2){
						a{
							
							background-position:22px -48px;
						}
					}
					&:nth-child(3){
						a{
							
							background-position:22px -98px;
						}
					}
					&:nth-child(4){
						a{
							
							background-position:22px -148px;
						}
					}
					&:nth-child(5){
						a{
							
							background-position:22px -198px;
						}
					}
					&:nth-child(6){
						a{
							
							background-position:22px -248px;
						}
					}
					&:nth-child(7){
						a{
							
							background-position:22px -298px;
						}
					}
					&:hover{
						background:#cc4155;
					}
				}


			}
		}

	}
	
}
.banner{
	width:100%;
	height:398px;
	width:1920px;
	margin-left:-960px;
	left:50%;
	position:relative;
	overflow:hidden;
	ul{
		position:absolute;
		li{
			float:left;
			img{
			height:398px;
			}
		}
	}
	.page{
		position:absolute;
		bottom:10px;
		left:50%;
		margin-left:-64px;
		span{
			width:10px;
			height:10px;
			background:#ccc;
			border-radius:50%;
			display:inline-block;
			margin-left:15px;

		}
		.active{
			background:#f60;
		}
	}
}
.side-nav{
	position:fixed;
	height:100%;
	background:#888;
	width:36px;
	right:0px;
	top:0px;
	ul{
		margin-top:60px;
		padding:0 5px;
		border-sizing:border-box;
		li{
			text-align:center;
			border-top:1px solid #fff;

			a{
				color:#fff;
				width:15px;
				display:inline-block;
				padding:20px 0px;
				text-align:center;
				span{
					display:inline-block;
					width:20px;
					text-align:center;
					height:20px;
					line-height:20px;
					border-radius:50%;
					background:red;
					margin-top:10px;
				}

			}

		}
		.weicode{
			a{
				span{
					display:none;
					position:absolute;
					left:-110px;
					top:320px;
				}
				
			}
			&:hover span{
					display:block;
					z-index:999;
				}
		}
	}
}
main{
	background:#fafafa;
	padding-bottom:19px;
	.adver{
		padding-top:10px;
		img{
		float:left;
		margin-right:1px;
		}
	}
	.hot{
		.hot-title{
			height:58px;
			h2{
				height:58px;
				line-height:58px;
				color:#fc4c65;
				font-size:26px;
				float:left;
			}
			span{
				font-size:16px;
				color:#666;
				margin-left:8px;
				display:inline-block;
				padding-top:23px;
			}

		}
		.hot-contain{
			height:665px;
			.hot-banner{
				float:left;
				width:400px;
				height:665px;
				overflow:hidden;
				background:#fff;
				position:relative;
				ul{
					position:absolute;
					width:800px;
					li{
						width:400px;
						height:665px;
						border-top:1px solid #ccc;
						padding:10px 20px 0;
						box-sizing:border-box;
						float:left;
						a{

							img{
							width:360px;
							height:360px;
							}
						}
						.name{
							margin-top:60px;
							a{
								line-height:20px;
								display:inline- block;
							}
						}
						h6{
						 line-height:30px;
						 margin-top:26px;
						}
						p{
							color:#333;
						}
						.price{
							color:#d91404;
							font-weight:700;
						}
						
					}
				}
			}
			.hot-list{
				float:right;
				width:800px;
				padding-left:26px;
				box-sizing:border-box;
				ul{
					li{
						float:left;
						margin:0 0 20px 22px;
						background:#fff;
						border:1px solid #ccc;
						padding:7px 7px 19px;;
						&:hover{
							box-shadow:0px 0px 10px 2px #ccc;
						}
						img{
							width:220px;
							height:220px;
						}
						p{
							margin-top:10px;
							height:40px;
							line-height:20px;
						}
						.price{
							color:#d91404;
							font-weight:700;
							font-size:16px;
						}
					}
				}
			}
		}
	}
	.tab{
		padding-top:30px;
		position:relative;
		.tab-title{
			height:36px;
			linw-height:36px;
			border-bottom:1px solid #d91404;

			span{
				float:right;
				display:inline-block;
				height:34px;
			   a{
				   display:inline-block;
					padding:0 15px;
					height:34px;
					line-height:34px;

			   }
			   &.active{
				border:1px solid #d91404;
				z-index:999;
					a{
						border-bottom:2px solid #fff;

					}
			   }
				
			}
			
		}
		h2{
			height:36px;
			line-height:36px;
			position:absolute;
			top:30px;
			left:0px;
			font-size:26px;
			z-index:999;
		}
		.content{
			width:100%;
			height:789px;
			margin-top:24px;
			padding:10px 0;
			.module{
				width:100%;
				position:absolute;
				height:789px;
				ul{
					li{
						float:left;
						height:383px;
						background:#fff;
						margin-right:23px;
						margin-bottom:23px;
						width:280px;
						img{
							width:280px;
							height:280px;
						}
						&:hover{
							box-shadow:0px 0px 10px 2px #ccc;

						}
						.name{
							height:40px;
							line-height:20px;
							padding:10px 10px 0 10px;
						}
						.price{
							display:block;
							line-height:20px;
							color:#d91404;
							font-weight:bold;
							padding:0 10px;
						}
					}
					li:first-child{
						width:588px;
						img{
							width:588px;
							height:383px;
						}
						&:hover{
							box-shadow:0px 0px 0px 0px #fff;
						}
					}
					.last{
						margin-right:0px;
					}
				}

			}
		}

		
	}
}