@charset "UTF-8";
#footer {
  font-family: "黑体";
  font-size: 12px;
}

#footer .footerf {
  width: 100%;
  background: #efefef;
}

#footer .footerf .foot-top {
  height: 122px;
  display: flex;
}

#footer .footerf .foot-top .first {
  padding-left: 170px;
}

#footer .footerf .foot-top .first span {
  left: 60px;
}

#footer .footerf .foot-top li {
  position: relative;
  padding-left: 120px;
  width: 33.333%;
  margin-top: 25px;
}

#footer .footerf .foot-top li span {
  display: inline-block;
  width: 66px;
  height: 66px;
  background: url(../img/index_icon.png) no-repeat -98px -130px;
  position: absolute;
  top: 0px;
  left: 40px;
}

#footer .footerf .foot-top li h3 a {
  color: #595757;
  line-height: 30px;
  font-size: 17px;
}

#footer .footerf .foot-top li p {
  line-height: 20px;
  color: #595757;
}

#footer .footerf .foot-top li:first-child span {
  background-position: -98px -65px;
}

#footer .footerf .foot-top li:last-child span {
  background-position: -98px -195px;
}

#footer .footers .foot-center {
  margin-top: 24px;
}

#footer .footers .foot-center .about {
  float: left;
  width: 420px;
  height: 179px;
  margin-right: 30px;
}

#footer .footers .foot-center .about > a {
  display: inline-block;
  width: 102px;
  height: 179px;
  background: url(../img/FSBreif.jpg);
}

#footer .footers .foot-center .about .box {
  float: right;
  padding-right: 18px;
}

#footer .footers .foot-center .about .box h4 {
  line-height: 40px;
}

#footer .footers .foot-center .about .box p {
  width: 294px;
  line-height: 20px;
  color: #595757;
}

#footer .footers .foot-center ul {
  float: left;
  width: 118px;
}

#footer .footers .foot-center ul li {
  line-height: 22px;
}

#footer .footers .foot-center ul li h5 {
  font-family: "黑体";
  line-height: 30px;
  font-size: 16px;
}

#footer .footers .icp {
  text-align: center;
  padding: 30px 0;
}

#footer .footers .foot {
  text-align: center;
}

#footer .footers .foot img {
  margin-right: 40px;
}

#footer .copy {
  height: 30px;
  width: 100%;
  background: #f12e24;
}
