main {
  padding-bottom: 80px;
}

main .main-top {
  height: 32px;
}

main .main-top .lf {
  float: left;
  height: 32px;
  line-height: 32px;
  margin-top: 3px;
}

main .main-top .lf .adress {
  display: inline-block;
  border: 1px solid #ccc;
  height: 28px;
  line-height: 28px;
  padding: 0 10px;
  position: relative;
  width: 160px;
}

main .main-top .lf .adress .tab {
  display: none;
  width: 400px;
  height: 480px;
  border: 1px solid #ccc;
  background: #fff;
  position: absolute;
  z-index: 1000;
  left: 0px;
  padding: 10px;
}

main .main-top .lf .adress .tab .tab-title {
  height: 30px;
  border-bottom: 1px solid #333;
}

main .main-top .lf .adress .tab .tab-title span {
  display: inline-block;
  padding: 0 15px;
  margin-left: 5px;
  height: 28px;
  border: 1px solid #ccc;
  color: #ccc;
}

main .main-top .lf .adress .tab .tab-title .currentitle {
  border-bottom: 2px solid #fff;
  color: #333;
}

main .main-top .lf .adress .tab .content {
  position: relative;
}

main .main-top .lf .adress .tab .content .adr {
  position: absolute;
  background: #fff;
  width: 100%;
  top: 0px;
  left: 0px;
}

main .main-top .lf .adress .tab .content .adr span {
  display: inline-block;
  height: 30px;
  margin: 0 80px 5px 20px;
}

main .main-top .rt {
  float: right;
}

main .main-center {
  padding-top: 40px;
  text-align: right;
}

main .main-center .list .goodscart {
  width: 100%;
  border-top: 1px solid #BBB;
}

main .main-center .list .goodscart thead th {
  background: #DFDFDF;
  text-align: center;
  height: 31px;
}

main .main-center .list .goodscart tbody tr td {
  text-align: left;
  border-bottom: 1px solid #DFDFDF;
}

main .main-center .list .goodscart tbody tr td img {
  width: 50px;
  height: 50px;
  border: 1px solid #ccc;
  vertical-align: top;
}

main .main-center .list .goodscart tbody tr td td:last-child a {
  margin-left: 10px;
}

main .main-center .list .goodscart tbody tr .number input {
  width: 40px;
  height: 16px;
}

main .main-center .list .goodscart tbody tr .number span {
  border: 1px solid #ccc;
  font-size: 14px;
  padding: 0 5px;
  margin: 0 5px;
}

main .main-center .list .goodscart tbody tr .price {
  color: #d10436;
}

main .main-center .list .cartTotal li {
  border-bottom: 1px dotted #BBB;
  height: 40px;
  line-height: 40px;
}

main .main-center .list .cartTotal li:last-child {
  border-bottom: 0px;
  padding: 20px 0px;
}

main .main-center .list .cartTotal li:last-child img {
  margin-left: 10px;
}

main .main-center .list .cartTotal li:first-child {
  text-align: left;
}

main .main-center .list .cartTotal li:first-child p {
  float: right;
  margin: 0px;
}

main .main-center .list .cartTotal li:first-child label {
  margin: 0 30px 0 150px;
  color: #d10436;
}

main .main-center .list .cartTotal li .total {
  color: #d10436;
  font-size: 16px;
}

main .main-center .list .cartTotal li .kind {
  color: #d10436;
}

main .main-center .list .cartTotal li .num {
  color: #d10436;
}

main .main-center .list p {
  margin-top: 10px;
  text-align: left;
}
