@charset "UTF-8";
html {
  font-size: 12px;
}

html a:hover {
  color: #fc4c65;
}

html body {
  font-family: '微软雅黑';
  margin: 0px;
}

html body .header {
  border-bottom: 3px solid #fc4c65;
  height: 202px;
}

html body .header header {
  height: 38px;
  background: #ccc;
  width: 100%;
  height: 38px;
  background-color: #f2f2f2;
  color: #6c6c6c;
  line-height: 38px;
}

html body .header header .adress {
  display: inline-block;
  width: 160px;
  height: 30px;
  border: 1px solid #ccc;
  padding: 0 10px;
  line-height: 30px;
  background: #fff;
  margin: 0 14px 0 7px;
  position: relative;
}

html body .header header .adress .tab {
  display: none;
  width: 400px;
  height: 480px;
  border: 1px solid #ccc;
  background: #fff;
  position: absolute;
  z-index: 1000;
  left: 0px;
  padding: 10px;
}

html body .header header .adress .tab .tab-title {
  height: 30px;
  border-bottom: 1px solid #333;
}

html body .header header .adress .tab .tab-title span {
  display: inline-block;
  padding: 0 15px;
  margin-left: 5px;
  height: 28px;
  border: 1px solid #ccc;
  color: #ccc;
}

html body .header header .adress .tab .tab-title .currentitle {
  border-bottom: 2px solid #fff;
  color: #333;
}

html body .header header .adress .tab .content {
  position: relative;
}

html body .header header .adress .tab .content .adr {
  position: absolute;
  background: #fff;
  width: 100%;
  top: 0px;
  left: 0px;
}

html body .header header .adress .tab .content .adr span {
  display: inline-block;
  height: 30px;
  margin: 0 80px 5px 20px;
}

html body .header header .login {
  margin: 0 10px;
}

html body .header header .public-nav {
  float: right;
}

html body .header header .public-nav li {
  float: left;
  position: relative;
}

html body .header header .public-nav li > a {
  padding: 5px 10px;
}

html body .header header .public-nav li > a:hover {
  background: #fc4c65;
  color: #fff;
}

html body .header header .public-nav li ul {
  position: absolute;
  background: #fff;
  z-index: 1000;
  border: 2px solid #fc4c65;
  top: 30px;
  left: -1px;
  padding: 0 3px;
  box-sizing: border-box;
  display: none;
}

html body .header header .public-nav li ul li {
  border-bottom: 1px dotted #ccc;
}

html body .header header .public-nav li ul li a {
  display: block;
  width: 48px;
  height: 31px;
  line-height: 31px;
}

html body .header header .public-nav .tel {
  padding-left: 10px;
}

html body .header .head h1 {
  display: inline-block;
}

html body .header .head h1 img {
  padding-top: 30px;
}

html body .header .head img {
  margin: 0 30px;
}
