.header {
  position: relative;
}

.header #header-center {
  position: absolute;
  top: 38px;
  right: 100px;
  height: 80px;
  padding-top: 45px;
}

.header #header-center .con-search {
  float: left;
}

.header #header-center .con-search .search {
  border: 3px solid #fc4c65;
  border-radius: 5px;
  background: #fc4c65;
}

.header #header-center .con-search .search input {
  width: 470px;
  height: 34px;
  padding-left: 4px;
  border: none;
}

.header #header-center .con-search .search .searchbtn {
  display: inline-block;
  color: #fff;
  height: 34px;
  line-height: 34px;
  padding: 0 30px;
  font-size: 18px;
}

.header #header-center .con-search nav li {
  float: left;
}

.header #header-center .con-search nav li a {
  margin-right: 8px;
  line-height: 24px;
}

.header #header-center .shopcar {
  border: 1px solid #d8d8d8;
  float: left;
  height: 38px;
  margin-left: 24px;
}

.header #header-center .shopcar a {
  display: inline-block;
  height: 38px;
  padding: 0 36px 0 25px;
  line-height: 38px;
  font-size: 14px;
  background: url(../img/shoppingCart.png) no-repeat 3px 11px;
}

.header #header-center .shopcar a i {
  margin-left: 5px;
}

.header .index-nav {
  margin-top: 30px;
  height: 38px;
}

.header .index-nav li {
  float: left;
  padding: 0px 24px;
  margin: 0 14px;
  line-height: 38px;
}

.header .index-nav li:first-child {
  position: relative;
}

.header .index-nav li:first-child a {
  width: 221px;
  height: 38px;
  display: inline-block;
  text-align: center;
  line-height: 38px;
  font-size: 16px;
  color: #fff;
  background: #fc4c65;
}

.header .index-nav li:first-child ul {
  position: absolute;
  z-index: 999;
  background: #fc4c65;
  width: 221px;
  padding-bottom: 15px;
  display: none;
}

.header .index-nav li:first-child ul li {
  padding: 0px;
  margin: 0px;
}

.header .index-nav li:first-child ul li a {
  height: 52px;
  display: inline-block;
  line-height: 52px;
  background: url(../img/index_icon2.png) no-repeat 22px 1px;
}

.header .index-nav li:first-child ul li:nth-child(2) a {
  background-position: 22px -48px;
}

.header .index-nav li:first-child ul li:nth-child(3) a {
  background-position: 22px -98px;
}

.header .index-nav li:first-child ul li:nth-child(4) a {
  background-position: 22px -148px;
}

.header .index-nav li:first-child ul li:nth-child(5) a {
  background-position: 22px -198px;
}

.header .index-nav li:first-child ul li:nth-child(6) a {
  background-position: 22px -248px;
}

.header .index-nav li:first-child ul li:nth-child(7) a {
  background-position: 22px -298px;
}

.banner {
  width: 100%;
  height: 398px;
  position: relative;
  overflow: hidden;
}

.banner ul {
  position: absolute;
}

.banner ul li {
  float: left;
}

.banner ul li img {
  height: 398px;
}

.banner .page {
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: -64px;
}

.banner .page span {
  width: 10px;
  height: 10px;
  background: #ccc;
  border-radius: 50%;
  display: inline-block;
  margin-left: 15px;
}

.banner .page .active {
  background: #f60;
}

.side-nav {
  position: fixed;
  height: 100%;
  background: #888;
  width: 36px;
  right: 0px;
  top: 0px;
}

.side-nav ul {
  margin-top: 60px;
  padding: 0 5px;
  border-sizing: border-box;
}

.side-nav ul li {
  text-align: center;
  border-top: 1px solid #fff;
}

.side-nav ul li a {
  color: #fff;
  width: 15px;
  display: inline-block;
  padding: 20px 0px;
  text-align: center;
}

.side-nav ul li a span {
  display: inline-block;
  width: 20px;
  text-align: center;
  height: 20px;
  line-height: 20px;
  border-radius: 50%;
  background: red;
  margin-top: 10px;
}

.side-nav ul .weicode a span {
  display: none;
  position: absolute;
  left: -112px;
  top: 320px;
}

.side-nav ul .weicode:hover span {
  display: block;
}

main {
  background: #fafafa;
  padding-bottom: 19px;
}

main .adver {
  padding-top: 10px;
}

main .adver img {
  float: left;
  margin-right: 1px;
}

main .hot .hot-title {
  height: 58px;
}

main .hot .hot-title h2 {
  height: 58px;
  line-height: 58px;
  color: #fc4c65;
  font-size: 26px;
  float: left;
}

main .hot .hot-title span {
  font-size: 16px;
  color: #666;
  margin-left: 8px;
  display: inline-block;
  padding-top: 23px;
}

main .hot .hot-contain {
  height: 665px;
}

main .hot .hot-contain .hot-banner {
  float: left;
  width: 400px;
  height: 665px;
  overflow: hidden;
  background: #fff;
}

main .hot .hot-contain .hot-banner ul li {
  width: 400px;
  height: 665px;
  border-top: 1px solid #ccc;
  padding: 10px 20px 0;
  box-sizing: border-box;
}

main .hot .hot-contain .hot-banner ul li a img {
  width: 360px;
  height: 360px;
}

main .hot .hot-contain .hot-banner ul li .name {
  margin-top: 60px;
}

main .hot .hot-contain .hot-banner ul li .name a {
  line-height: 20px;
  display: inline- block;
}

main .hot .hot-contain .hot-banner ul li h6 {
  line-height: 30px;
  margin-top: 26px;
}

main .hot .hot-contain .hot-banner ul li p {
  color: #333;
}

main .hot .hot-contain .hot-banner ul li .price {
  color: #d91404;
  font-weight: 700;
}

main .hot .hot-contain .hot-list {
  float: right;
  width: 800px;
  padding-left: 26px;
  box-sizing: border-box;
}

main .hot .hot-contain .hot-list ul li {
  float: left;
  margin: 0 0 20px 22px;
  background: #fff;
  border: 1px solid #ccc;
  padding: 7px 7px 19px;
}

main .hot .hot-contain .hot-list ul li:hover {
  box-shadow: 0px 0px 10px 2px #ccc;
}

main .hot .hot-contain .hot-list ul li img {
  width: 220px;
  height: 220px;
}

main .hot .hot-contain .hot-list ul li p {
  margin-top: 10px;
  height: 40px;
  line-height: 20px;
}

main .hot .hot-contain .hot-list ul li .price {
  color: #d91404;
  font-weight: 700;
  font-size: 16px;
}

main .tab {
  padding-top: 30px;
  position: relative;
}

main .tab .tab-title {
  height: 36px;
  linw-height: 36px;
  border-bottom: 1px solid #d91404;
}

main .tab .tab-title span {
  float: right;
  display: inline-block;
  height: 34px;
}

main .tab .tab-title span a {
  display: inline-block;
  padding: 0 15px;
  height: 34px;
  line-height: 34px;
}

main .tab .tab-title span.active {
  border: 1px solid #d91404;
  z-index: 999;
}

main .tab .tab-title span.active a {
  border-bottom: 2px solid #fff;
}

main .tab h2 {
  height: 36px;
  line-height: 36px;
  position: absolute;
  top: 30px;
  left: 0px;
  font-size: 26px;
  z-index: 999;
}

main .tab .content {
  width: 100%;
  height: 789px;
  margin-top: 24px;
  padding: 10px 0;
}

main .tab .content .module {
  width: 100%;
  position: absolute;
  height: 789px;
}

main .tab .content .module ul li {
  float: left;
  height: 383px;
  background: #fff;
  margin-right: 23px;
  margin-bottom: 23px;
  width: 280px;
}

main .tab .content .module ul li img {
  width: 280px;
  height: 280px;
}

main .tab .content .module ul li:hover {
  box-shadow: 0px 0px 10px 2px #ccc;
}

main .tab .content .module ul li .name {
  height: 40px;
  line-height: 20px;
  padding: 10px 10px 0 10px;
}

main .tab .content .module ul li .price {
  display: block;
  line-height: 20px;
  color: #d91404;
  font-weight: bold;
  padding: 0 10px;
}

main .tab .content .module ul li:first-child {
  width: 588px;
}

main .tab .content .module ul li:first-child img {
  width: 588px;
  height: 383px;
}

main .tab .content .module ul li:first-child:hover {
  box-shadow: 0px 0px 0px 0px #fff;
}

main .tab .content .module ul .last {
  margin-right: 0px;
}
