.header {
  position: relative;
}

.header #header-center {
  position: absolute;
  top: 38px;
  right: 100px;
  height: 80px;
  padding-top: 45px;
}

.header #header-center .con-search {
  float: left;
}

.header #header-center .con-search .search {
  border: 3px solid #fc4c65;
  border-radius: 5px;
  background: #fc4c65;
}

.header #header-center .con-search .search input {
  width: 470px;
  height: 34px;
  padding-left: 4px;
  border: none;
}

.header #header-center .con-search .search .searchbtn {
  display: inline-block;
  color: #fff;
  height: 34px;
  line-height: 34px;
  padding: 0 30px;
  font-size: 18px;
}

.header #header-center .con-search nav li {
  float: left;
}

.header #header-center .con-search nav li a {
  margin-right: 8px;
  line-height: 24px;
}

.header #header-center .shopcar {
  border: 1px solid #d8d8d8;
  float: left;
  height: 38px;
  margin-left: 24px;
}

.header #header-center .shopcar a {
  display: inline-block;
  height: 38px;
  padding: 0 36px 0 25px;
  line-height: 38px;
  font-size: 14px;
  background: url(../img/shoppingCart.png) no-repeat 3px 11px;
}

.header #header-center .shopcar a i {
  margin-left: 5px;
}

.header .index-nav {
  margin-top: 30px;
  height: 38px;
}

.header .index-nav li {
  float: left;
  padding: 0px 24px;
  margin: 0 14px;
  line-height: 38px;
}

.header .index-nav li:first-child {
  position: relative;
}

.header .index-nav li:first-child a {
  width: 221px;
  height: 38px;
  display: inline-block;
  text-align: center;
  line-height: 38px;
  font-size: 16px;
  color: #fff;
  background: #fc4c65;
}

.header .index-nav li:first-child ul {
  position: absolute;
  z-index: 999;
  background: #fc4c65;
  width: 221px;
  padding-bottom: 15px;
  display: none;
}

.header .index-nav li:first-child ul li {
  padding: 0px;
  margin: 0px;
}

.header .index-nav li:first-child ul li a {
  height: 52px;
  display: inline-block;
  line-height: 52px;
  background: url(../img/index_icon2.png) no-repeat 22px 1px;
}

.header .index-nav li:first-child ul li:first-child {
  background: #cc4155;
}

.header .index-nav li:first-child ul li:nth-child(2) a {
  background-position: 22px -48px;
}

.header .index-nav li:first-child ul li:nth-child(3) a {
  background-position: 22px -98px;
}

.header .index-nav li:first-child ul li:nth-child(4) a {
  background-position: 22px -148px;
}

.header .index-nav li:first-child ul li:nth-child(5) a {
  background-position: 22px -198px;
}

.header .index-nav li:first-child ul li:nth-child(6) a {
  background-position: 22px -248px;
}

.header .index-nav li:first-child ul li:nth-child(7) a {
  background-position: 22px -298px;
}

.header .index-nav li:first-child ul li:hover {
  background: #cc4155;
}

.side-nav {
  position: fixed;
  height: 100%;
  background: #888;
  width: 36px;
  right: 0px;
  top: 0px;
}

.side-nav ul {
  margin-top: 60px;
  padding: 0 5px;
  border-sizing: border-box;
}

.side-nav ul li {
  text-align: center;
  border-top: 1px solid #fff;
}

.side-nav ul li a {
  color: #fff;
  width: 15px;
  display: inline-block;
  padding: 20px 0px;
  text-align: center;
}

.side-nav ul li a span {
  display: inline-block;
  width: 20px;
  text-align: center;
  height: 20px;
  line-height: 20px;
  border-radius: 50%;
  background: red;
  margin-top: 10px;
}

.side-nav ul .weicode a span {
  display: none;
  position: absolute;
  left: -112px;
  top: 320px;
}

.side-nav ul .weicode:hover span {
  display: block;
}

main .main-top {
  height: 25px;
  padding: 10px 0;
}

main .main-top > ul li {
  float: left;
  height: 25px;
  line-height: 25px;
}

main .main-top > ul li.hov {
  position: relative;
  padding: 0 5px;
}

main .main-top > ul li.hov:hover {
  border: 1px dotted #f8784b;
}

main .main-top > ul li.hov ul {
  width: 266px;
  border: 3px solid #cfcaca;
  position: absolute;
  top: 28px;
  left: 0px;
  display: none;
  background: #fff;
  z-index: 999;
}

main .main-top > ul li.classlist ul {
  padding: 20px 10px;
}

main .main-top > ul li.classlist ul li {
  float: left;
  margin: 0 0 10px -12px;
  border-left: 1px dotted #c7c7c7;
  text-align: center;
}

main .main-top > ul li.classlist ul li a {
  display: inline-block;
  width: 120px;
  padding: 0 12px;
  margin-bottom: 7px;
}

main .main-top > ul li.allclass ul li {
  width: 226px;
  line-height: 50px;
  height: 50px;
  padding: 10px 15px;
}

main .brand-nav {
  position: relative;
  height: 34px;
  border: 1px solid #e5e5e5;
  overflow: hidden;
  margin-top: 10px;
}

main .brand-nav .guid-title {
  background: #f8f8f8;
  height: 100%;
  color: #999;
  line-height: 34px;
  width: 130px;
  border: #f2f2f2;
  float: left;
  text-align: right;
  padding-right: 20px;
  box-sizing: border-box;
}

main .brand-nav .more {
  position: absolute;
  top: 0px;
  right: 24px;
  height: 34px;
}

main .brand-nav .more a {
  line-height: 34px;
  height: 34px;
  display: inline-block;
}

main .brand-nav .more .morehide {
  display: none;
}

main .brand-nav ul {
  height: 100%;
  float: left;
  width: 970px;
  overflow: hidden;
}

main .brand-nav ul li {
  float: left;
  padding: 0 10px;
  line-height: 34px;
}

main .brand-nav ul li a {
  display: inline-block;
  height: 24px;
  line-height: 24px;
  padding: 0 3px;
}

main .brand-nav ul li .currenbrand {
  background: #fc4c65;
  color: #fff;
}

main .main-center .leftside {
  box-sizing: border-box;
  width: 220px;
  float: left;
}

main .main-center .leftside .aside {
  border: 1px solid #ddd;
  border-top: 2px solid #fc4c65;
  margin-top: 10px;
}

main .main-center .leftside .aside .s-title {
  background: #f8f8f8;
  line-height: 36px;
  padding-left: 10px;
}

main .main-center .leftside .aside .s-title h3 {
  color: #666;
  font-weight: bold;
  font-size: 14px;
}

main .main-center .leftside .aside:last-child h3 {
  display: inline-block;
  width: 150px;
}

main .main-center .leftside .aside .s-con {
  padding: 0 10px;
}

main .main-center .leftside .goodsclass .s-con {
  margin-top: 20px;
  padding-bottom: 10px;
}

main .main-center .leftside .goodsclass .s-con h4 {
  border-bottom: 1px dashed #ccc;
  line-height: 24px;
  color: #666;
  background: url(../img/bg_icon02.png) no-repeat 180px 13px;
}

main .main-center .leftside .goodsclass .s-con ul li {
  float: left;
  line-height: 28px;
  width: 99px;
}

main .main-center .leftside .goodshot .s-con ul li {
  border-bottom: 1px dashed #ccc;
}

main .main-center .leftside .history .s-con ul li {
  border-bottom: 1px dashed #ccc;
  padding: 10px 0;
}

main .main-center .leftside .history .s-con ul li a img {
  width: 50px;
  height: 50px;
  vertical-align: top;
}

main .main-center .leftside .history .s-con ul li .name {
  display: inline-block;
  width: 140px;
  padding-left: 4px;
  text-align: center;
}

main .main-center .rightsection {
  float: left;
  width: 968px;
  margin-top: 10px;
}

main .main-center .rightsection .right-title {
  height: 32px;
  line-height: 32px;
  background: #fafafa;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  margin-left: 12px;
}

main .main-center .rightsection .right-title .songzhi {
  float: left;
  padding: 0 15px 0 10px;
}

main .main-center .rightsection .right-title .songzhi .adress {
  display: inline-block;
  width: 160px;
  height: 30px;
  border: 1px solid #ccc;
  padding: 0 10px;
  line-height: 30px;
  background: #fff;
  margin: 0 14px 0 7px;
  position: relative;
}

main .main-center .rightsection .right-title .songzhi .adress .tab {
  display: none;
  width: 400px;
  height: 480px;
  border: 1px solid #ccc;
  background: #fff;
  position: absolute;
  z-index: 1000;
  left: 0px;
  padding: 10px;
}

main .main-center .rightsection .right-title .songzhi .adress .tab .tab-title {
  height: 30px;
  border-bottom: 1px solid #333;
}

main .main-center .rightsection .right-title .songzhi .adress .tab .tab-title span {
  display: inline-block;
  padding: 0 15px;
  margin-left: 5px;
  height: 28px;
  border: 1px solid #ccc;
  color: #ccc;
}

main .main-center .rightsection .right-title .songzhi .adress .tab .tab-title .currentitle {
  border-bottom: 2px solid #fff;
  color: #333;
}

main .main-center .rightsection .right-title .songzhi .adress .tab .content {
  position: relative;
}

main .main-center .rightsection .right-title .songzhi .adress .tab .content .adr {
  position: absolute;
  background: #fff;
  width: 100%;
  top: 0px;
  left: 0px;
}

main .main-center .rightsection .right-title .songzhi .adress .tab .content .adr span {
  display: inline-block;
  height: 30px;
  margin: 0 80px 5px 20px;
}

main .main-center .rightsection .right-title ul {
  float: left;
}

main .main-center .rightsection .right-title ul li {
  float: left;
  border-left: 1px solid #ddd;
}

main .main-center .rightsection .right-title ul li a {
  padding: 0 28px;
  display: inline-block;
}

main .main-center .rightsection .right-title ul li:last-child {
  text-align: right;
  width: 289px;
}

main .main-center .rightsection .right-title ul li:last-child span {
  color: #f8784b;
}

main .main-center .rightsection .right-title ul li:last-child a {
  margin-right: 5px;
  color: #666;
  padding: 0px;
}

main .main-center .rightsection .right-title ul li .active {
  color: #f8784b;
  background: #fff;
  background: #fff url(../img/class_btn.gif) no-repeat 62px -60px;
}

main .main-center .rightsection .list li {
  float: left;
  margin: 0 0 42px 10px;
  padding: 4px 5px;
  border: 1px solid #e6e6e6;
}

main .main-center .rightsection .list li a img {
  width: 220px;
  height: 220px;
}

main .main-center .rightsection .list li p {
  padding-left: 6px;
  margin-top: 8px;
}

main .main-center .rightsection .list li p a {
  display: inline-block;
  heighrt: 20px;
  line-height: 18px;
  overflow: hidden;
  color: #777;
}

main .main-center .rightsection .list li .price {
  color: #d91404;
  font-size: 16px;
  font-weight: 700;
  display: block;
  margin: 30px 0 5px 5px;
  height: 18px;
}

main .main-center .rightsection .list li .buybtn {
  padding: 5px;
}

main .main-center .rightsection .list li .buybtn a {
  display: block;
  width: 90px;
  height: 30px;
  padding: 0 18px;
  background: #fc4c65;
  line-height: 30px;
  color: #fff;
  font-size: 14px;
  border-radius: 2px;
  text-align: center;
}

main .main-center .rightsection .list li:hover {
  box-shadow: 0 0 10px 2px #ccc;
}

main .main-center .rightsection .page {
  text-align: right;
}

main .main-center .rightsection .page a {
  display: inline-block;
  padding: 5px;
}

main .main-center .rightsection .page a img {
  margin: 0 10px;
}

main .main-center .rightsection .page span a.curren {
  background: #fc4c65;
  color: #fff;
}
